<%- include('partials/header') %>
  <p>Soma = <%= soma %>
  </p>
  <% if(soma%2===0){ %>
    <p>A soma é PAR.</p>
    <% }else { %>
      <p>A soma é IMPAR.</p>
      <% } %>
        <%- include('partials/footer') %>